body {
  background-color: #F1E8D5;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  border: 1px solid brown;
}
.nav-bar {
  display: flex;
  flex-direction: column;
  align-self: flex-start;

  /* height: 500px; */
  border: 1px solid blue;
}
.content {

  width: 700px;
  height: 500px;
  border: 1px solid green;
}

.name {
  align-self: flex-start;

  color: #2C2C2C;
  font-size: 40px;
  border: 1px solid violet;
  font-family: 'PT Serif', serif;
}
.moving-text {
  font-family: 'Poppins', sans-serif;
  height: 40px;
  line-height: 200%;
  width: 220px;
  color: #4B4B4B;
}





.nav-child {
  font-family: 'PT Serif', serif;
  text-align: right;
  color: white;
  font-size: 20px;
  color: #2C2C2C;
  /* border: 1px solid black; */
  height: 20px;
  text-decoration: none;
  align-self: flex-end;
}
.nav-child:hover {
  color: green;
}